<h1>Random Beers</h1>
    {{responseFromApi}}
    <img {{this.image}}/>
<ul>
    <li>{{this.name}}</li>
    <li>{{this.description}}</li>
    <li>{{this.tagline}}</li>
    <li>{{this.food pairing}}</li>
    <li>{{this.brewer tips}}</li>

</ul>
